# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-XSH.desktop

[Desktop Entry]
Comment=Lightweight SHIELD Client
Exec=electrum-XSH %u
GenericName[en_US]=Electrum-XSH
GenericName=Electrum-XSH
Icon=electrum-XSH
Name[en_US]=Electrum SHIELD Wallet
Name=Electrum SHIELD Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/SHIELD;

